<script type="text/javascript" src="/static/jquery-2.2.1.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var keys_pressed = []

		$(document).keydown(function(e){	
			console.log(e.which);		
			keys_pressed[e.which] = true;
			moveRobot(99);
		})

		$(document).keyup(function(e){
			keys_pressed[e.which] = false;
			moveRobot(99);
		})

		$(window).unload(function(e){
			moveRobot(0);
		})

		function moveRobot(speed){
			key_dict = {}

			if(keys_pressed[37]) key_dict["left_key"] = true;
			else key_dict["left_key"] = false;

			if(keys_pressed[38]) key_dict["up_key"] = true;
			else key_dict["up_key"] = false;

			if(keys_pressed[39]) key_dict["right_key"] = true;
			else key_dict["right_key"] = false;

			if(keys_pressed[40]) key_dict["down_key"] = true;
			else key_dict["down_key"] = false;

			if(keys_pressed[77]) key_dict["m_key"] = true;
			else key_dict["m_key"] = false;

			if(keys_pressed[78]) key_dict["n_key"] = true;
			else key_dict["n_key"] = false;

			if(keys_pressed[90]) key_dict["z_key"] = true;
			else key_dict["z_key"] = false;

			if(keys_pressed[88]) key_dict["x_key"] = true;
			else key_dict["x_key"] = false;

			if(keys_pressed[72]) key_dict["h_key"] = true;
			else key_dict["h_key"] = false;

			if(keys_pressed[74]) key_dict["j_key"] = true;
			else key_dict["j_key"] = false;

			if(keys_pressed[75]) key_dict["k_key"] = true;
			else key_dict["k_key"] = false;

			if(keys_pressed[76]) key_dict["l_key"] = true;
			else key_dict["l_key"] = false;

      var set_speed = -1;
			if(keys_pressed[89]){set_speed = 2;}
			else if(keys_pressed[85]){ set_speed = 3;}
			else if(keys_pressed[73]){ set_speed = 4;}
			else if(keys_pressed[79]){ set_speed = 5;}
			else if(keys_pressed[80]){ set_speed = 6;}
			
			$.ajax({
	                url: '/control_robot',
	                type: 'post',
	                data: {
                      "set_speed": set_speed,
	                    "keys_pressed": JSON.stringify(key_dict)
	                }
	            }
	        );
		}
	});
</script>

<html>
	<body>
		<p>
			Random Number = {{rand_numb}}
		</p>
    <h1>Welcome to the BSM Red Knight Robotics Squad Robot!</h1>
    <h2>Commands:</h2>
    <ul>
      <li>Control the speed with Y - P keys. Y = slow and P = fast.</li>
      <li>Move the wrist with J (down) and K (up).</li>
      <li>Move the arm camera with H and L.</li>
      <li>Move the side cameras with Z/X and M/N.</li>
    </ul>
	</body>

</html>
